@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, #06e99d 70%, #75f171 30%);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header {
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: space-between;
}

.w {
    height: 100%;
    justify-content: space-between;
    margin-left: 1rem;
}

.w img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    height: 100%;
}

.nav-div {
    display: flex;
}

nav {
    height: 100%;
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 2px;

}

nav ul li::after {
    content: '';
    width: 0%;
    display: block;
    transition: 0.5s;
    margin: auto;
    background-color: rgb(9, 134, 15);
    height: 4px;
}

nav ul li:hover::after {
    width: 70%;
}

nav ul a {
    text-decoration: none;
    padding: 0rem 1.3rem;
    font-size: 20px;
    font-weight: bold;
    color: #494234;
}

.main {
    display: flex;
    height: 80vh;
}

.main-content {
    width: 70%;
    height: 50vh;
    padding-top: 100px;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid; */
    align-items: flex-start;

}

.image-pista,
.main-text {
    /* flex-basis: 50%; */
    /* border: 2px solid; */
}

.image-pista img {
    width: 100%;
    /* border: 2px solid; */
}

.main-content h1 {
    font-size: 3rem;
    letter-spacing: 1px;
    color: #494234;
}

.main-content p {
    padding: 0rem .5rem;
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 1px;
}

.main-content button {
    margin-top: 2.5rem;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 0 50% 50% 0;
    background-color: #494234;
    color: white;
    cursor: pointer;
}

.swiper {
    /* border: 2px solid; */
    width: 10rem;
}

.liimg {

    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.liimg img {
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
}

.right {
    width: 30%;
    height: 60vh;
    /* border: 2px solid green; */
}

.row {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.box {
    /* border: 2px solid; */
    display: flex;
    align-items: center;
}

.right .box .image img {
    width: 70%;
}

.image {
    margin-top: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: -6px 6px 15px rgba(0, 0, 0, 0.315);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.image:hover {
    background-color: rgba(73, 66, 52, 0.7);
}

.box .inner-box {
    margin: 1.5rem 0 0 1rem;
}

.box .inner-box p {
    font-size: 14px;
    font-weight: 500;
}

.social-links {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.social-links::before {
    content: "";
    width: 80%;
    height: 3px;
    position: absolute;
    top: 42%;
    left: -150px;
    background-color: #494234;
}

.social-links i {
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #93C572;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.social-links i:hover {
    transform: translateY(-5px);
}